*{
    font-family: 'Roboto', sans-serif;
}
/*-----------------
navbar
-------------------*/
.bgnav{
    background: transparent;
    transition: 0.2s ease;
}
.bgnav.scrolled{
    background: rgba(0, 53, 70);
}
.navbar .navbar-brand{
    font-weight: normal;
    font-size: 22px;
    color: white;
}

.navbar .navbar-nav .nav-link{
    font-weight: normal;
    font-size: 15px;
    padding: 0;
    color: white;
    margin-left: 12px;
}
.navbar .navbar-nav .nav-link:hover{
    background: transparent;
    color: #ffffff;
}
.navbar .navbar-nav .nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
}
.navbar .navbar-nav .nav-link:hover::after{
    width: 100%;
    background: #ffffff;
    color: #ffffff;
}
/*---------------
home
----------------*/
.home{
    background-image:
    linear-gradient(rgba(0, 53, 70, 0.93), rgba(0, 53, 70, 0.93)), url("https://media.istockphoto.com/photos/were-always-hungry-for-success-picture-id1330547182?b=1&k=20&m=1330547182&s=170667a&w=0&h=r363z4sXEp6Yg6E2YD_JUZQhtTgq-38-9oxfm5tQGug=");
    position: relative;  
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    color: white;
    padding-bottom: 50px;

}
.topic{
    color: rgb(3, 3, 83);
    font-size: 3vw;
    font-weight: bold;
}
.logo{
    height: 60px;
    width: 60px;
    margin-top: 8px;
    margin-bottom: 13px;
    
}
/*.icn{
    width: 60px;
    background: whitesmoke;
    border-radius: 44% 45% 15% 10% / 34% 23% 32% 31% ;
}*/
.card-title{
    color: rgb(10, 10, 104);
    font-size: 20px;
    font-weight: bold;
    
}
.card-text{
    color: rgb(85, 85, 85);
}
.ser2{
    background: rgb(221, 243, 250);
    border-radius: 70% 0% 0% 0% / 11% 0% 0% 1% ;
}
.card{
    box-shadow: 0px 4px 8px 0px rgba(15, 47, 117, 0.2), 0 6px 20px 0 rgba(15, 47, 117, 0.2);
}
@keyframes stretch {
    /* declare animation actions here */ 0% {
    width: 0;
}
100% {
    width: 50%;
  }
}
.ani{
    animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; 
  animation-direction: alternate;
}
